:root {
    --primary-color: #156064 ;
    --primary-color-dark: #0c383a;
    --secondary-color: #A9B18F;
    --secondary-color-dark: #4e5241;
    --gray-color: #B3B5BB;
    --gray-color-dark: #5b5c61;
}
