:root {
    --primary-color: #8C705F ;
    --primary-color-dark: #4b3b31;
    --secondary-color: #9c3d2c;
    --secondary-color-dark: #572219;
    --gray-color: #5e5a44;
    --gray-color-dark: #333124;
}
